@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  font-size: 80%;
  margin: 0;
  padding: 0;
  background-color: #409fce1e;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .two-sides {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    margin: 5em 0;
  }
  .head-container .picture-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15em 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stack-content .name {
    font-size: 10em;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .name {
    white-space: nowrap;
  }
  .stack-content {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0 5em;
  }
}

.picture-container {
  background-image: url("../images/Asset 2.png");
  background-size: cover;
  padding: 5em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.picture-container .image-container {
  width: 300px;
  padding: 1.2em;
}

.picture-container .image-container img {
  width: 100%;
}

.stack-content {
  padding: 0 5em;
}

.stack-content .stack {
  color: #409ECE;
  font-size: 2em;
  margin: 0;
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
}

.stack-content .name {
  font-size: 8em;
  margin: 0;
  display: block;
  font-family: 'Playfair Display', serif;
}

.stack-content a {
  font-size: 1.5em;
  background-color: #409ECE;
  color: white;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1em 2em;
  display: inline-block;
}

.two-sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 5em 0;
}

.two-sides .left-side div {
  margin: 0 0 10em 0;
}

.two-sides .links {
  margin: 0;
  padding: 0;
}

.two-sides .links li {
  list-style-type: none;
  padding: .3em 0;
  font-size: 1.5em;
  text-transform: lowercase;
}

.two-sides .links li a {
  text-decoration: none;
  font-weight: 600;
  color: #00175ccc;
}

.two-sides .skillset {
  margin: 0;
  padding: 0;
}

.two-sides .skillset li {
  padding: .3em 0;
  font-size: 1.8em;
  font-weight: 400;
  list-style-type: none;
}

.About-container {
  position: relative;
  padding: 0em 0 6em 0;
  margin: 0 0 4em 0;
}

.experience-container {
  position: relative;
  padding: 0em 0 6em 0;
  margin: 0 0 4em 0;
}

.experiences {
  padding: 1em 0 0em 0;
}

.About-container::after, .experience-container::after {
  content: '';
  background-color: #409ECE;
  width: 6em;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  display: block;
}

.text {
  font-size: 1.8em;
  margin: 0;
}

.date {
  float: right;
  font-size: 1.8em;
  margin: .8em 0;
  color: #00175C;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  font-size: 3em;
  margin: 0 0 .5em 0;
  font-family: 'Playfair Display', serif;
}

.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.sub-title {
  font-size: 1.5em;
  margin: .8em 0;
  color: #409ECE;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-title a {
  font-weight: bolder;
  color: #00175c98;
  text-decoration: none;
}

.in-touch {
  background-image: url("../images/Asset 23.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12em 0 7em 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head {
  font-size: 5em;
  font-family: 'Playfair Display', serif;
  margin: 0;
  line-height: 2em;
}

.email {
  line-height: 2em;
  font-size: 3em;
  margin: 0;
  color: #00175C;
  font-family: 'Playfair Display', serif;
}

.social-links li {
  display: inline-block;
  padding: 1.5em;
  list-style-type: none;
}

@media (max-width: 768px) {
  .stack-content .name {
    font-size: 3em;
    padding: 0 0 .5em 0;
  }
  .in-touch {
    text-align: center;
  }
  .head {
    font-size: 3em;
  }
  .email {
    padding: 0 1em;
    display: block;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */